	body, input, textarea, select {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 13pt;
    line-height: 1.5em;
    color: #676d79;
    font-weight: 300;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,252,255,1) 20%, rgba(0,83,138,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(20%, rgba(255,252,255,1)), color-stop(100%, rgba(0,83,138,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,252,255,1) 20%, rgba(0,83,138,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,252,255,1) 20%, rgba(0,83,138,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,252,255,1) 20%, rgba(0,83,138,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,252,255,1) 20%, rgba(0,83,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00538a', GradientType=0 );
}
header{text-align:center;}
#nav {
    -moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    background-color: #ffffff;
    color: #636363;
    position: absolute;
    width: 62em;
    max-width: calc(100% - 4em);
    padding: 1em;
    background-color: #f7f7f7;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    cursor: default;
    text-align: center;
}
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav ul li {
    -moz-transition: margin 0.2s ease;
    -webkit-transition: margin 0.2s ease;
    -ms-transition: margin 0.2s ease;
    transition: margin 0.2s ease;
    display: inline-block;
    margin: 0 0.35em;
    padding: 0;
    vertical-align: middle;
}
#nav ul li a.active {
    background-color: #ffffff;
    box-shadow: none;
}
#nav ul li a {
    -moz-transition: font-size 0.2s ease;
    -webkit-transition: font-size 0.2s ease;
    -ms-transition: font-size 0.2s ease;
    transition: font-size 0.2s ease;
    display: inline-block;
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 1.25em;
	color:#676d79;
    border: 0;
	text-decoration: none;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}


#wrapper {
    width: 64em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}
#nav + #main {
    padding-top: 4.25em;
}
#main {
    background-color: #ffffff;
    color: #636363;
    border-radius: 0.25em;
}

.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0 0 2em 0;
	padding: 2em;
}
.spotlight .content {
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.spotlight .content header.major {
    margin: 0 0 2em 0;
}
header.major {
    margin-bottom: 3em;
}
p {
    margin: 0 0 2em 0;
}
#main .spotlight .image {
    border-color: #dddddd;
}
.spotlight .image {
    border-color: rgba(255, 255, 255, 0.35);
}
.spotlight .image {
    display: inline-block;
    margin-left: 4em;
    padding: 0.65em;
    border-radius: 100%;
    border: solid 1px;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
}
.image {
    border: 0;
    display: inline-block;
    position: relative;
}
.spotlight .image img {
   display: block;
	border-radius: 100%;
	width: 15em;
	height: 15em;
}

.forecast-div  div{
width: 10%;
text-align: center;
border-top: 1px solid aliceblue;
}
.forecast-div  div span{
width: 100%;
float: left;
}


footer aside{color:#FFF}