* { box-sizing: border-box;}

body {
  font-size: 16px;
  font-family:arial; 
  color: #000;
  font-style: italic;
}

header, nav, main, footer { 
    max-width: 100%; 
    margin: 0% 0.5%;
    width: 99%;
    float:left
}

section.section-half{width:96%; padding:0% 2%; float:left}

header { margin-bottom:30px!important;  }
header h1 {float:left;  width: calc(100% - 150px);  font-size:24px; font-style: italic;  margin: 5px 0px 10px 0px;}
header img {float:left; margin-right:10px; width:140px }
header .subheading {float:left; width: calc(100% - 150px); margin:0px;  font-size:16px;  font-style: italic;}

nav { background-color: #929292;}
nav button { width:100%; color:#FFF;border:0px; font-size: 20px;padding:5px 0px;text-align:left; background-color: #929292;}
nav button i{margin-left:5px;color:#FFF;}

nav ul {
  font-size: 20px;
    display:none;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
      padding: 10px 0px;
    width:100%;
}

nav ul li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 2px 16px;
    font-style: normal;
    text-decoration: none;
}

nav ul li.active a{
   color: #FFF;
}

nav ul li a:hover {
    color: #FFF;
}

nav ul li:last-child a {
   border-right:0px;
}

.responsive{display:block!important}

main {}
main h2 {}
main figure {  margin: 0%; }
main figure img { width:100%;}
section.section-half img{border-radius:10px;width:250px;height:auto;}

section.forecast {display:none} 
section.forecast{width:100%;margin-top:30px; float:left}
section.forecast table {
    width:100%;float:left;
    text-align:center;
    border-collapse: collapse;
    width: 100%;
    font-style:normal;
}
section.forecast table td, main .forecast table th {
    border: 1px solid #ddd;
    padding: 8px;
}
section.forecast table tr {background-color: #f2f2f2;}
section.forecast table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #929292;
    color: #000;
 
}



section.history{width:100%;margin-top:30px; float:left}
section.history img{ width:100%; float:right;border-radius:10px; margin-bottom:5px}

footer {margin-top:30px!important; background:#f2f2f2;border-top:2px solid #929292}
footer div.section-copyright{width:100%; float:left;background-color: #929292;text-align:center;color:#FFF}
