/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Arial;
    color: #3c3c3c;
}

h1 {
    font-size: 30px;
    color: #FFF;
}

h2 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px;
}

header, footer, footer a {
    text-align: center;
    background-color: #dd3030;
    color: whitesmoke;
}

header img {
    width: 240px;
    height: auto;
    float: right;
}
nav{text-align:center}
nav ul li{display: inline;}

footer {
    font-size: 13px;
	clear: both;
}
